<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>出错啦！</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<script  type="text/javascript" src="../js/jquery-3.2.1.js"></script>
	<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
	<script src="http://www.jq22.com/jquery/angular-1.4.6.js"></script>	
	<script  type="text/javascript" src="../js/DatePicker/WdatePicker.js"></script>
</head>
<body>
	<form method="post" style="margin: 0px;" action="" name="fmName" id="fmName">
        <h1>
        	<center><font color="red" font="Bold" size="206">出错啦！</font></center>
        </h1>	
    </form> 
<script>
</script>         
</body>
</html>