<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Login</title>

	<link rel="stylesheet" href="/newindex/style.css" type="text/css" />
	<link rel="stylesheet" href="/newindex/fallback.css" />
		<script type="text/javascript" src="/newindex/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/newindex/selectivizr.js"></script>
	</head>

	<body  background="/images/bg1.jpg">
		<div id="container">
		<form action="welcome.html">
				<div class="login">LOGIN</div>
				<div class="username-text">Username:</div>
				<div class="password-text">Password:</div>
				<div class="username-field">
					<input type="text" name="username" value="azmind" />
				</div>
				<div class="password-field">
					<input type="password" name="password" value="azmind" />
				</div>
				<input type="checkbox" name="remember-me" id="remember-me" /><label for="remember-me">Remember me</label>
				<div class="forgot-usr-pwd">Forgot <a href="#">username</a> or <a href="#">password</a>?</div>
				<input type="submit" name="submit" value="GO" />
			</form>
		</div>
		<div id="footer">
			Web 2.0 Login More Templates 
		</div>
	</body>
</html>
