<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">	
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<script  type="text/javascript" src="/js/jquery-3.2.1.js"></script>
	<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
	<script src="http://www.jq22.com/jquery/angular-1.4.6.js"></script>	
	<script  type="text/javascript" src="/js/DatePicker/WdatePicker.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="/css/style.css" rel='stylesheet' type='text/css' />
</head>
<body>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});	  
});
</script>
 <!--SIGN UP-->
 <h1>Login Form</h1>
<div class="login-form">
	<div class="close"> </div>
		<div class="head-info">
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
			<div class="clear"> </div>
	<div class="avtar">
		<img src="/images/avtar.png" />
	</div>
	<!-- 
			<form action="/login"  method="post">
					<input type="text" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" 
					id="user.name" name="user.name">
						<div class="key">
					<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"
					id="user.password" name="user.password">
						</div>
			</form>
	-->
	<form action="#" th:action="@{/login}" th:object="${user}" method="post">
        <p><input type="text" th:field="${user.name}" /></p>
        <p><input type="password" th:field="${user.password}" /></p>
        <p><input type="submit" value="Submit" /> </p>
    </form>	
    <!--	
	<div class="signin">
		<input type="submit" value="doLogin" >
	</div>
	-->
</div>
 <div class="copy-rights">
					<p>Copyright &copy; 2015.Company name All rights reserved.</p>
			</div>

</body>
</html>